annotated-types==0.7.0
anyio==4.13.0
atproto==0.0.65
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
contourpy==1.3.3
cryptography==46.0.7
cycler==0.12.1
dnspython==2.8.0
fonttools==4.62.1
funcy==2.0
gensim @ git+https://github.com/piskvorky/gensim.git@37f90ec121eb7cd401448a947e80953e0c53ccdc
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
libipld==3.3.2
MarkupSafe==3.0.3
matplotlib==3.10.9
networkx==3.6.1
nltk==3.9.4
numexpr==2.14.1
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pillow==12.2.0
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
pyLDAvis==3.4.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
regex==2026.4.4
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
setuptools==82.0.1
six==1.17.0
smart_open==7.6.0
textblob==0.20.0
threadpoolctl==3.6.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
vaderSentiment==3.3.2
websockets==15.0.1
wordcloud==1.9.6
wrapt==2.1.2
